body {
  font-family: monospace;
}

.layout {
  display: flex;
  height: 62vh;
}

.body-content {
  display: flex;
  width: 50%;
  flex-direction: column; 
}

.body-content .in-content {
  display: flex;
  flex-direction: column;
  margin: 2% 2% 0% 2%;

  border: solid 1px;
  border-color: #d800ff21;
}

/* .menu {
  display: flex;
  margin: 0% 8% 8% 8%;
  align-self: center;
  height: 290px;
}

.menu input[type="submit"] {
  float: right;
} */